<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

    body{
        background-color: #638CB8; /*--Style Here--*/
    }

    input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input::placeholder{
        color: #FAFAD2; /*--Style Here--*/
    }

    .submit{
        background-color: #6BA3E8; /*--Style Here--*/
    }

    .center-column{
       width:600px;
       margin: 20px auto;
       padding: 20px;
       background-color: #fff; /*--Style Here--*/
       border-radius: 3px; /*--Style Here--*/
       box-shadow: 0px -1px 10px -4px rgb(0, 0, 0, 0.75)
    }

    .item-row{
        background-color: #906abd; /*--Style Here--*/
        margin: 10px;
        padding: 20px;
        border-radius: 3px; /*--Style Here--*/
        color: #fff; /*--Style Here--*/
        font-size: 16px; /*--Style Here--*/
        box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75)
    }

    .btn-danger{
        background-color: #ffae19; /*--Style Color--*/
        border-color: #e59400; /*--Style Color--*/
    }
</style>

<div class="center-column">

    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input class="btn btn-info" type="submit" value="Create Task">
    </form>

    <div class="todo-list">

        {% for task in tasks %}
            <div class="item-row">
                <a class="btn btn-sm btn-info" href="{% url 'update_tasks' task.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete_tasks' task.id %}">Delete</a>

                {% if task.complete == True %}
                <strike>{{task}}</strike>
                <br/>
                {% else %}
                <span>{{task}}</span>
                <br/>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>